.header {
  font-family: $main-font;
  color: $text-white;

  background-color: $gray-900;
}

.headerTop {
  display: flex;
}

.headerTopPhone {

}

.headerMenu {
  display: flex;
}

.headerTopList {

}

.headerTopItem {
}

.headerTopLink {

}

.langSwitcher {

}

.langSwitcherFlag {
}

.langSwitcherContent {

}

.headerAuth {

}

.headerAuthIcon {

}

.headerAuthBtn {

}